*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.grey{
    background-color: #1F2937;
    color: #f9faf8;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 20px 0;
}

nav ul{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 100px 0;
}

img{
    max-width: 100%;
}

.header__content div{
    flex: 1;
}


.header__content h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 400;
}

.header__content p{
    font-size: 18px;
    color: #e5e7eb;

}

.header__content a{
    display: inline-block;
    font-size: 24px;
    background-color: #3882f6;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10%;
}

.header__content > div:first-child h2,
.header__content > div:first-child p{
    max-width: 500px;
}

.rect-section{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.rect-section h2{
    margin-bottom: 50px;
    font-size: 48px;
}

.rect-section .items{
    display: flex;
}

.rect-section .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.rect-section .item p{
    margin-top: 20px;
    font-size: 22px;
    max-width: 200px;
}

.rect-section .rect{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 100px;
}

.quote blockquote{
    max-width: 1200px;
    margin: auto;
    line-height: 1.4em;
    padding: 100px 0;
}

.quote p{
    width: fit-content;
    margin-left: auto;
    font-weight: 600;
}